<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 레이아웃 연습 </title>
    <link rel="stylesheet" href="main.css">
<!-- 스타일 시작  -->
<style> 

</style>
<!-- 스타일 끝, 헤더 시작  -->
</head>
<body>
    <!-- 전체 레이어  -->
     <div class= "wrap"> 
        <div class="container">
        <!-- 상단 -->
        <header> 상단 </header>
        <!-- 메인 -->
        <main> 
            <!-- 사이드바 -->
            <div class="sidebar"> 사이드바 </div>
            <!-- 본문 내용 -->
             <div class="main_content"> 본문 내용 </div>
        </main>
        <!-- 하단 -->
        <footer> 하단 </footer>
        </div>
     </div>

</body>
</html>