<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 연습 </title>
    <link rel="stylesheet" href="practice.css">
</head>
<body>
    <!-- 전체  -->
<div class="box">
     <!-- 헤더 -->
      <header> 
        <div class="left"> 헤더 </div>
        <div class="mid"> </div>
        <div class="right"> </div>
      </header>
      <!-- 제목 -->
<div class="title"> 제목 </div>
       <!-- 메인 -->
        <main> 메인 </main>
        <!-- 후터 -->
         <footer> 
                 <div class="left"> 후터 </div>
        <div class="mid"> </div>
        <div class="right"> </div>
         </footer>
</div>
</body>
</html>